<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>

<style>
h1 {
  text-align: center;
}
</style>

    <title>julius malema biography</title>
     <link rel="stylesheet" type="text/css">


</head>
<body>
    <center>
<p><h3>Julius Sello Malema</h3><p>
         Born on 3 March 1981, Malema was born and raised in the township of Seshego near Polokwane in the Transvaal, in the region now known as Limpopo.
    His family is Northern Sotho , and his mother was a domestic worker and a single parent. After his mother died, he was raised by his grandmother, who died in May 2019.<p>

    (born 3 March 1981) is a South African politician who is a Member of Parliament and the leader of the Economic Freedom Fighters (EFF), a left-wing party which he founded in 2013.
    He was formerly the President of the African National Congress (ANC) Youth League from 2008 until his expulsion from the party in 2012.
    Malema became a member of the ANC at the age of nine and was elected president of the ANC Youth League at a controversial party conference in April 2008.
    He rose to prominence as an outspoken supporter of <B>Jacob Zuma</b>, then the ANC president and later the President of South Africa.<p>
    However, Malema's relationship with Zuma grew strained after Malema was sanctioned by the ANC for various disciplinary infractions in May 2010; he campaigned for Zuma to be removed from office ahead of the ANC's 53rd National Conference.
    Months before that conference, in April 2012, Malema was expelled from the ANC for bringing the party into disrepute.
    While ANC Youth League president, he was an early proponent of proposals to nationalise South Africa's mining industry and expropriate land without compensation, policy positions that the EFF inherited.
    As the founding president and "commander-in-chief" of the EFF, Malema was elected to a seat in the National Assembly in 2014. He was re-elected to a second five-year parliamentary term in 2019.
    Malema was described by both Zuma and the Premier of Limpopo Province, Cassel Mathale, as the "future leader" of South Africa.<p>
    Less favourable portraits paint him as a "reckless populist" with the potential to destabilise South Africa and to spark racial conflict.
    He has been convicted of hate speech twice: once in March 2010 for demeaning comments about Zuma's rape accuser and once in September 2011 for singing<b> "Dubul' ibhunu" ("Shoot the Boer")</b>.
    In 2012, Malema was charged with fraud, money-laundering and racketeering.
    After numerous postponements, the case was dismissed by the courts in 2015 due to excessive delays by the National Prosecuting Authority, leading to perceptions that the charges were politically motivated.
    However, AfriForum announced in 2018 that it would mount a private prosecution of Malema on the corruption charges.
</center>

 next page:
    <a href="{% url 'malema:life_and_education' %}">life and education</a>


</body>
</html>
