<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Early life and education</title>

</head>
<body>


<center>
    <h3><b>Student politics</b></h3>
    According to Malema, he joined the Masupatsela ("trailblazers") movement of the African National Congress (ANC) at the age of nine or ten.
    His main task at the time was to remove National Party posters. In 1995, Malema joined the ANC Youth League and became the chairperson of his local branch in Seshego and of the regional branch in broader Capricorn.
    In 1997, he became the provincial chairperson of the Congress of South African Students (COSAS) in Limpopo.
    He was elected as national president of COSAS in 2001. In May of the following year, he led a COSAS students' march through Johannesburg; the march was marked by incidents of violence and looting.<p>
    <h3><b>Education</b></h3>
    Malema matriculated from Mohlakaneng High School in Seshego. In 2010, he completed a two-year diploma in youth development through the University of South Africa (UNISA).
    Also at UNISA, he subsequently completed a Bachelor of Arts in communications and African languages in March 2016 an Honours degree in philosophy in 2017.
    In 2018, he enrolled in a Master's degree programme at the University of the Witwatersrand.<p>

</center>
next page:
    <a href="{% url 'malema:anc_youth' %}">anc youth</a>


</body>
</html>