<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
      form {
  margin: 0 auto;
  width: 50%;
}

label {
  font-weight: bold;
}

.invalid-feedback {
  display: none;
  color: red;
  margin-top: 5px;
}

input:invalid + .invalid-feedback {
  display: block;
}

input:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

button[type="submit"] {
  margin-top: 10px;
}
p{
      border-radius: 5px;
        padding: 8px;
        border: none;
        box-shadow: none;
        border: 1px solid #ccc;

      }
</style>
 {% block content %}
<div class="container py-5">
	<h1>Register</h1>
	<form method="POST">
		{% csrf_token %}
		{{ register_form }}

		<button class="btn btn-primary" type="submit">Register</button>
	</form>

</div>

{% endblock %}